.loader {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: auto;
}
.loader:after {
  content: " ";
  display: block;
  width: 70px;
  height: 70px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: rgb(169, 169, 169) transparent rgb(169, 169, 169) transparent;
  animation: loader 1.2s linear infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
